<a href="https://colab.research.google.com/github/HalyshAnton/IT-Step-Pyton-AI/blob/main/module2/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Імпорт модуля pandas

In [1]:
import pandas as pd

Дані про пасажирів корабля:
* pclass -- клас білета(перший, другий або третій)
* sex -- стать
* age -- вік
* sibsp -- кількість братів\сестер та чоловіків\дружин на борту
* parch -- кількість дітей та батьків на борту
* fare -- вартість поїздки
* embarked -- Порт посадки (C = Шербур, Q = Квінстаун, S = Саутгемптон)

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/HalyshAnton/IT-Step-Pyton-AI/main/module2/data/ship_passengers.csv",
                 index_col="Unnamed: 0")

# Завдання 1

Вивести загальну інформацію про таблицю: кількість рядків та стовпців, назви стовпців та їхній тип даних, в яких стовпцях є пропущені значення

In [3]:
print("num of rows - ",df.shape[0])
print("num of columns - ", df.shape[1])
column_names = df.columns
print("column names - ", column_names)
for i in column_names:
    print(i,":",df[i].dtype)
    print("\t has nan values - ", df[i].isnull().any())
# df.info()
# df.describe()

num of rows -  891
num of columns -  7
column names -  Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked'], dtype='object')
pclass : int64
	 has nan values -  False
sex : object
	 has nan values -  False
age : float64
	 has nan values -  True
sibsp : int64
	 has nan values -  False
parch : int64
	 has nan values -  False
fare : float64
	 has nan values -  False
embarked : object
	 has nan values -  True

# Завдання 2
Скільки пасажирів сіло у Квінстауні?

In [4]:
filter = df['embarked'] == 'Q'
print("passanges boarded at Q:",filter.sum())

passanges boarded at Q: 77

# Завдання 3
Виведіть стать, вік та вартість поїздки для пасажирів з білетом першого класу

In [5]:
filter = df['pclass'] == 1
print("number of 1st class passangers - ", filter.sum())
df[filter]

number of 1st class passangers -  216

     pclass     sex   age  sibsp  parch     fare embarked
1         1  female  38.0      1      0  71.2833        C
3         1  female  35.0      1      0  53.1000        S
6         1    male  54.0      0      0  51.8625        S
11        1  female  58.0      0      0  26.5500        S
23        1    male  28.0      0      0  35.5000        S
..      ...     ...   ...    ...    ...      ...      ...
871       1  female  47.0      1      1  52.5542        S
872       1    male  33.0      0      0   5.0000        S
879       1  female  56.0      0      1  83.1583        C
887       1  female  19.0      0      0  30.0000        S
889       1    male  26.0      0      0  30.0000        C

[216 rows x 7 columns]

# Завдання 4
Ввиведіть дані про неповнолітніх чоловіків з Шербура

In [6]:
filter = df['age'] < 18
print(df[filter])

     pclass     sex   age  sibsp  parch     fare embarked
7         3    male   2.0      3      1  21.0750        S
9         2  female  14.0      1      0  30.0708        C
10        3  female   4.0      1      1  16.7000        S
14        3  female  14.0      0      0   7.8542        S
16        3    male   2.0      4      1  29.1250        Q
..      ...     ...   ...    ...    ...      ...      ...
850       3    male   4.0      4      2  31.2750        S
852       3  female   9.0      1      1  15.2458        C
853       1  female  16.0      0      1  39.4000        S
869       3    male   4.0      1      1  11.1333        S
875       3  female  15.0      0      0   7.2250        C

[113 rows x 7 columns]

# Завдання 5
Створіть новий стовпчик relatives -- загальна кількість родичів на борту для кожного пасажира

In [7]:
df.rename(columns={'sibsp':'relatives'}, inplace=True)
df.sample(10)

     pclass     sex   age  relatives  parch     fare embarked
368       3  female   NaN          0      0   7.7500        Q
751       3    male   6.0          0      1  12.4750        S
1         1  female  38.0          1      0  71.2833        C
854       2  female  44.0          1      0  26.0000        S
736       3  female  48.0          1      3  34.3750        S
427       2  female  19.0          0      0  26.0000        S
108       3    male  38.0          0      0   7.8958        S
705       2    male  39.0          0      0  26.0000        S
591       1  female  52.0          1      0  78.2667        C
145       2    male  19.0          1      1  36.7500        S

# Завдання 6
Видаліть стовпчик, в якому найбільше пропусків. Якщо пропущені значення ще залишаться, видаліть рядки з пропусками

In [8]:
column_with_most_nans = df.isnull().sum().idxmax()
print(column_with_most_nans)
print(type(column_with_most_nans))

df.drop(columns=[column_with_most_nans], inplace=True)

age
<class 'str'>

In [9]:
print(df.isna().sum())
df.dropna(inplace=True)
print(df.isna().sum())
df

pclass       0
sex          0
relatives    0
parch        0
fare         0
embarked     2
dtype: int64
pclass       0
sex          0
relatives    0
parch        0
fare         0
embarked     0
dtype: int64

     pclass     sex  relatives  parch     fare embarked
0         3    male          1      0   7.2500        S
1         1  female          1      0  71.2833        C
2         3  female          0      0   7.9250        S
3         1  female          1      0  53.1000        S
4         3    male          0      0   8.0500        S
..      ...     ...        ...    ...      ...      ...
886       2    male          0      0  13.0000        S
887       1  female          0      0  30.0000        S
888       3  female          1      2  23.4500        S
889       1    male          0      0  30.0000        C
890       3    male          0      0   7.7500        Q

[889 rows x 6 columns]